#search-bar {
    width: 600px;
}

div {
    font-family: Proxima Nova, sans-serif;
}

.board {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
}

.navbar-default {
    background-color: #36648B;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 26px
}

.btn-primary {
    color: #36648B;
    border: 1px solid white;
    background-color: white;
    margin: 3px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}